<div class="collecction_banner">
  <div class="collection_img lazyload" data-bg="{{ block.settings.image | img_url: '300x300' }}" data-bgset="{% include 'bgset', image: block.settings.image %}" data-sizes="auto" 
       style="background-image: url('{{ block.settings.image | img_url: '300x300' }}');" ></div>
  <div class="page-width"><div class="coll_title h3 s-title">{{ block.settings.stitle }}</div></div>
</div>